@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #f2f0f0;
    background-image: linear-gradient(to right top, #648ecd, #618bcd, #5e89ce, #5b86ce, #5883ce, #498ad2, #3890d5, #2296d7, #00a6d7, #17b4d3, #42c0cd, #67ccc6);
}


.nav-out-top{
    background-color: #11d0de;
    transition: 0.5s;
}

.to-top{
    background: #3399d3;
    position: fixed;
    bottom: 16px;
    right:32px;
    width: 50px;
    height: 50px;
    border-radius: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: white;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
    box-shadow: 0 2px 5px rgba(74, 73, 73, 0.749);
    z-index: 1000;
}
.to-top:hover{
    color: white;
    box-shadow: 0 2px 10px rgba(57, 56, 56, 0.749);
}

.to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

nav{
    font-size: 1.2rem;
    border-radius: 0 0 10px 10px;
}

.navbar-nav{
    width: 100%;
}

.navbar{
    box-shadow: 4px 4px 20px rgba(0,0,0,.164);
    transition: 0.5s;
}


.navbar i{
    background-color: white;
    /* background-image: linear-gradient(to right top, #f891f7, #da8ff5, #bb8df1, #9c8ae9, #7d86df, #618de0, #4293de, #1d97d8, #00a7d9, #00b5d5, #37c1ce, #5ecdc7); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-item{
    font-weight: 500;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}


.parkname h1{
    font-family: 'Sriracha', cursive;
    font-size: 600%;
    text-shadow: 4px 4px 20px rgba(0,0,0,.164);
    color: #DAF3FF;
}

#carouselView .carousel-inner{
    border-radius: 25px;
    box-shadow: 4px 4px 20px rgba(0,0,0,.164);
    border: 4px solid rgb(24, 23, 38);
}

#carouselView img{
    width: 100%;
}

.booking-home{
    border-radius: 20px;
    box-shadow: 0px 5px 30px rgba(0,0,0,.264);
    padding-bottom: 30px;
    color: rgb(255, 255, 255);
}

.booking-home input, 
.booking-home select,
.booking-home button{
    box-shadow: 0px 5px 30px rgba(0,0,0,.164);
}

.ticket-price{
    border-radius: 20px;
    box-shadow: 0px 5px 30px rgba(0,0,0,.164);
    background-image: linear-gradient(to left bottom, #4d8be7, #4f93e7, #549be7, #5ca2e5, #65a9e4);background-size: cover;
}
.ticket-price-form{
    padding-top: 30px;
}

.custom-input input{
    border-radius: 10px;
}

.games img{
    width: 100%;
    height: 20rem;
    border-radius: 10px;
    box-shadow: 0px 5px 30px rgba(0,0,0,.164);
    transition: all 0.3s;
}

.games img:hover{
    box-shadow: 0px 5px 30px rgba(0,0,0,.664);
    transition: all 0.3s;
}

.games h2{
    font-size: 250%;
    color: rgb(235, 234, 232);
}


#carouselFood1 .carousel-inner,
#carouselFood2 .carousel-inner
{
    border-radius: 20px;
    background-size: contain;
    height: 25rem;
}

#carouselFood1 .carousel-inner img,
#carouselFood2 .carousel-inner img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
}
#carouselFood1,
#carouselFood2{
    transition: all 0.3s;
}


#carouselFood1:hover,
#carouselFood2:hover{
    border-radius: 20px;
    box-shadow: 0px 5px 30px rgba(0,0,0,.664);
    transition: all 0.3s;
}

.member img, .member .insideImg{
    border-radius: 15px;
    box-shadow: 0 2px 30px rgba(0,0,0,.164);
}

.member .insideImg{
	width: 90%;
	height: 100%;
	background-color: #4784c1;
	position: absolute;
	opacity: 0;
	top: 0px;
    left: 0px;
    border: 2px solid #2aa3e9;
    transition: 0.7s;
    text-shadow: 0 1px 3px rgb(36, 27, 162);
    box-shadow: 5px 5px 30px rgba(0,0,0,.864);
}
.member:hover img{
    filter: blur(4px);
    opacity: 0.5;
}



.member:hover .insideImg{
	opacity: 1;
	top: -27px;
	left: 40px;
    transition: .4s;
}

.icon .fab{
    margin: 0 10px;
    transition: all 0.3s;
}

.icon .fa-facebook-square{
    color: rgb(59, 89, 152);
}

.icon .fa-instagram {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon .fa-facebook-messenger{
    color: rgb(0,120,255);
}

.icon .fa-twitter{
    color: rgb(29,161,242);
}

.icon .fa-facebook-square:hover,
.icon .fa-instagram:hover,
.icon .fa-facebook-messenger:hover,
.icon .fa-twitter:hover{
    transform: scale(1.8);
}

/* Media query */

@media (max-width: 1200px) {
    .caption {
        position: absolute;
        bottom: 5%;
        right: 2%;
    }
    .caption h3{
        padding: 1.3rem 1.5rem;
        border-radius: 0.7rem;
        margin: 0 0.3rem;
        font-size: 130%;
    }
}

@media (max-width: 992px) {
    .member{
        margin-bottom: 15px;
    }

    .games img{
        height: 23rem;
    }
    #carouselFood1 .carousel-inner,
    #carouselFood2 .carousel-inner{
        height: 25rem;
    }
    .games img{
        height: 22rem;
    }
    .games img:hover{
        transform: scale(1);
    }
}

@media (max-width: 768px) {
    .games img{
        height: 20rem;
    }
    #carouselFood1 .carousel-inner,
    #carouselFood2 .carousel-inner{
        height: 20rem;
    }
    iframe{
        height: 15rem;
    }
}

@media (max-width: 576px) {
    .parkname h1{
        font-size: 350%;
    }
    .foods h2{
        font-size: 150%;
    }  
    .member{
        width: 80%;
        margin-bottom: 15px;
    }
    .games img{
        height: 19rem;
    }
    #carouselFood1 .carousel-inner,
    #carouselFood2 .carousel-inner{
        height: 17rem;
    }

    .booking-home,
    .booking-home input,
    .booking-home select,
    #checkprice{
        font-size: 100%;
    }
    iframe{
        height: 17rem;
    }
    
}

@media (max-width: 320px){
    .games img{
        height: 12rem;
    }
    .parkname h1{
        font-size: 300%;
    }
    #carouselFood1 .carousel-inner,
    #carouselFood2 .carousel-inner{
        height: 10rem;
    }

    .booking-home,
    .booking-home input,
    .booking-home select,
    #checkprice{
        font-size: 80%;
    }
    iframe{
        height: 10rem;
    }
}