body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #bcd8d2;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}


nav{
    font-size: 1.2rem;
    border-radius: 0 0 10px 10px;
}

.navbar-nav{
    width: 100%;
}

.navbar i{
    background-image: linear-gradient(to right top, #f891f7, #da8ff5, #bb8df1, #9c8ae9, #7d86df, #618de0, #4293de, #1d97d8, #00a7d9, #00b5d5, #37c1ce, #5ecdc7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-item{
    font-weight: 500;
}

.nav-item a:hover{
    text-decoration: underline;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}


#carouselView .carousel-inner{
    border-radius: 25px;
    box-shadow: 4px 4px 20px rgba(0,0,0,.164);
    border: 4px solid rgb(24, 23, 38);
}

#carouselView img{
    width: 100%;
}

.booking-home{
    border-radius: 20px;
    box-shadow: 0px 5px 30px rgba(0,0,0,.164);
    padding-bottom: 30px;
    color: rgb(255, 255, 255);
}

.booking-home input, 
.booking-home select,
.booking-home button{
    box-shadow: 0px 5px 30px rgba(0,0,0,.164);
}

.custom-input input{
    border-radius: 10px;
}

.games img{
    width: 100%;
    height: 20rem;
    border-radius: 10px;
    box-shadow: 0px 5px 30px rgba(0,0,0,.164);
}
 
.games h2{
    font-size: 250%;
    color: blanchedalmond;
}


#carouselFood1 .carousel-inner,
#carouselFood2 .carousel-inner
{
    border-radius: 20px;
    background-size: contain;
    height: 25rem;
}

#carouselFood1 .carousel-inner img,
#carouselFood2 .carousel-inner img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
}


.member img, .member .insideImg{
    border-radius: 15px;
    box-shadow: 0 2px 30px rgba(0,0,0,.164);
}

.member .insideImg{
	width: 90%;
	height: 100%;
	background-color: #3A6896;
	position: absolute;
	opacity: 0;
	top: 0px;
    left: 0px;
    border: 2px solid #009EF9;
    transition: 0.4s;
}
.member:hover img{
    filter: blur(4px);
    opacity: 0.5;
}

.member:hover .insideImg{
	opacity: 1;
	top: -27px;
	left: 40px;
    transition: 0.6s;
}

.icon .fab{
    margin: 0 10px;
}

.icon .fa-facebook-square{
    color: rgb(59, 89, 152);
}

.icon .fa-instagram {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon .fa-facebook-messenger{
    color: rgb(0,120,255);
}

.icon .fa-twitter{
    color: rgb(29,161,242);
}


/* Media query */

@media (max-width: 1200px) {
    .caption {
        position: absolute;
        bottom: 5%;
        right: 2%;
    }
    .caption h3{
        padding: 1.3rem 1.5rem;
        border-radius: 0.7rem;
        margin: 0 0.3rem;
        font-size: 130%;
    }
}

@media (max-width: 992px) {
    .member{
        margin-bottom: 15px;
    }

    .games img{
        height: 23rem;
    }
    #carouselFood1 .carousel-inner,
    #carouselFood2 .carousel-inner{
        height: 25rem;
    }
    .games img{
        height: 22rem;
    }

}

@media (max-width: 768px) {
    .games img{
        height: 20rem;
    }
    #carouselFood1 .carousel-inner,
    #carouselFood2 .carousel-inner{
        height: 20rem;
    }
}

@media (max-width: 576px) {
    .foods h2{
        font-size: 150%;
    }  
    .member{
        width: 80%;
        margin-bottom: 15px;
    }
    .games img{
        height: 18rem;
    }
    #carouselFood1 .carousel-inner,
    #carouselFood2 .carousel-inner{
    height: 18rem;
}
    
}